<!-- Partial view :  Medical record-->

<div class="medicalRecordContents">
    <h3 class="subTitle"> <img src="images/schedule-an-appointment.jpeg"> Appointments </h3>

    <div ng-show="messageAlert != undefined" class="alert alert-success" role="alert"> {{messageAlert}}</div>

    <!-- Calendar -->
    <div ui-calendar="uiConfig.calendar" calendar="myCalendar" class="span8 calendar" ng-model="eventSources"></div> <br />

    <!-- Requests of appointments -->
    <div class="panel panel-primary" id="appointmentsRequests" ng-if="appointmentsRequests.length != 0">
        <div class="panel-heading">
            <h3 class="panel-title"> Requests for appointments : </h3>
        </div>
        <div class="panel-body">
            <ul class="list-group appointmentsRequests">
                <li ng-repeat="item in appointmentsRequests" class="list-group-item" style="line-height: 3em;">
                    <span> Appointment Of <strong> {{item.patientName}} </strong> at <strong>{{formatDate(item.appointment.date)}} </strong> </span>
                    <span id="options">
                        <button type="button" class="btn btn-success" ng-click="acceptAppointment(item.appointment)">Accept</button>
                        <button type="button" class="btn btn-danger" ng-click="cancelAppointment(item.appointment)">Cancel</button>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <!-- Error -->
    <div class="modal fade alert" id="errorModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-alert">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Oops! An error occured</h4>
                </div>
                <div class="modal-body">
                    <h4>{{ error.title }}</h4>
                    <p>{{ error.message }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>